.s-wrap{
    width: 200px;
    height: 111vh;
    background-color: #E5E5E5;
    text-align: center;
    transform: translateX(0%);
    transition: 0.4s ease-in;
    
}
.blocks{
    overflow: hidden;
    width: 160px;
    height: auto;
    /* background-color: #42B883; */
    z-index: 0;
}

.blocksactive{
    width: 30px;
    overflow: hidden;
}



.plus{
   margin-top: 2rem; 
   cursor: pointer;
   text-align: left;
   margin-left: 5px;
}

.start{
    color: #868686;
    font-size: 20px;
    
}


.addtext{
    color: #767676;
    margin-left: 5px;
    font-size: 15px;
}

.all-text{
    width: 160px;
    height: 37px;
    margin-top: 56px;
    display: flex;
    order: 1;
    align-items: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.task-all{
    margin-left: 10px;
   
}
.taskNone {
    display: none;
}


.all-text:hover{
  
    background-color: #fff;
   
   
   cursor: pointer;
   border-radius: 4px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}

.focus{
  display: flex;
  justify-content: center;
  
}

.S-block{
    width: 160px;
    height: auto;
    margin: 34px auto;
    
}



.S-box:hover{
    background-color: #fff;
}


.circle{
    width: 10px;
    height: 10px;
    background-color: #42B883;
    border-radius: 50%;
    margin-left: 12px;

}

.Pur-text{
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
}



.circle1{
    width: 10px;
    height: 10px;
    background-color: #64C4ED;
    border-radius: 50%;
    margin-left: 12px;
}


.circle2{
    width: 10px;
    height: 10px;
    background-color: #FFBBCC;
    border-radius: 50%;
    margin-left: 12px;
}

.circle3{
    width: 10px;
    height: 10px;
    background-color: #B6E6BD;
    border-radius: 50%;
    margin-left: 12px;
}

.circle4{
    width: 10px;
    height: 10px;
    background-color: #C9D1D3;
    border-radius: 50%;
    margin-left: 12px;
}





.nav__toggler1{
   margin-left: 48px; 
   order: 2;
}
.navleft{
    margin-left: -2px;
   
} 



.nav__toggler div {
    width: 1.5rem;
    height: 2px;
    border-radius: 3px;
    margin: 0.4rem;
    background: darkgrey;
}

.nav__active {
    width: 30px;
    

}


.toggle .line1 {
   transform:  rotate(-45deg) translate(-6px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
    transform:  rotate(45deg) translate(-7px, -6px);
}


.modal-wrap{
  display: none;
}
.modal__active{
    width: 235px;
    height: 148px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    margin-top: 13px;
    
    display: block;
    
    position: relative;
    animation: fadein .5s;
    
}

@keyframes fadein {
    from {
        opacity: 0;
    }
     to {
        opacity: 1;
     }
}

.selection{
    border: 1.5px solid #EFEFEF;
    outline: none;
    border-color: #EFEFEF;
    width: 200px;
    height: 32px;
    margin-top: 18px;
    border-radius: 4px;
}

.circleBlack{
    width: 21px;
    height: 21px;
    background-color: #5C5C5C;
    border-radius: 50%;
    position: absolute;
    left: 14rem;
    top: -6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faClosed{
    color: #fff;
}




.circles{
    display: flex;
    justify-content: space-around;
    width: 210px;
    margin: 12px 12px auto;
    
}

.colorcircle{
  
    background-color: #C9D1D3;
   
}


.colorcircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.colorcircle1 {
    background-color: #42B883;
}

.colorcircle2{
    
    background-color: #64C4ED;
    
}




.colorcircle3{
   
    background-color: #FFBBCC;
  
}



.colorcircle4{
   
    background-color: #B6E6BD;
    
}



.colorcircle5{
   
    background-color: #C355F5;
    
}



.colorcircle6{
   
    background-color:#09011A;
    
}



.colorcircle7{
    
    background-color:#FF6464;
    
}

.colorBorder{
    border: 1.5px solid #808080;
    transition: all 0.1s ease-in;
    
}




.buttonrr{
    width: 200px;
    height: 37px;
    background-color: #4DD599;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    
    left: 1rem;
    color: #fff;
    margin: 0 !important;
   padding: 0 !important;
   box-sizing: border-box;
}



.S-box{
    width: 160px;
    height: 37px;
    margin-top: 4px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.eys{
    display: flex;
    align-items: center;
}

.childernbox{
    margin-right: 1rem;
    color: #E3E3E3;
    cursor: pointer;
}